

.main
  .main__header
    .group-name
      = @group.name
      .group-member 
        Member :
        - @group.users.each do |user|
          = user.username

    .main__header__edit-btn
      = link_to "Edit", edit_group_path(@group.id) 


  .messages
    = render @messages
    .message
      .upper-message
        .upper-message__user-name
          
        .upper-message__date
          
      .lower-meesage
        .lower-message__content
        
        
        
  
  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'form__mask__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'